SemanticTokens:
  DisabledKinds: [
    "Operator"
  ]

Diagnostics:
  UnusedIncludes: None
  Suppress: [
    misc-unused-using-decls,
    misc-unused-alias-decls,
    ]

CompileFlags:
  Add: [
    "-Wall",
    "-Wextra",
    "-D_CRT_SECURE_NO_WARNINGS"
  ]
  CompilationDatabase: "./"